.navbar {
  position: relative;
  left: 0;
  top: 0;
  background-color: #333;
  overflow: hidden;
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

.navbar li a:hover {
  background-color: #111;
}
